.character-stats-row {
  padding-top: 10px;
  display: inline-block;
}

.character-stats-row-top:hover {
  background-color: var(--purple-color);
  cursor: pointer;
}

.character-stats-row img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.character-stats-reverse-grid {
  direction: rtl;
}

.character-stats-column {
  float: left;
  padding: 0 10px;
  overflow: none;
  width: 100px;
}

.character-stats.characters-used {
  padding: 0 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  text-align: left;
}

.character-stats .characters-used-header {
  text-align: center;
}

.winrate-bar {
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
}

.winrate-bar div {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}

.winrate-bar span {
  display: block;
  height: 30px;
  position: relative;
  background: #d73444;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.characters-used-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 15px 0;
}

.characters-used-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center !important;
  padding: 0 40px;
  max-width: 200px;
}

.characters-used-column {
  padding: 0;
}

/* Clear floats after image containers */
.first-most-used,
.third-most-used {
  text-align: left;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-gap: 8px;
}

.second-most-used {
  text-align: right;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-gap: 8px;
}

.slider-left {
  height: 100%;
  background: #120b18;
  margin-bottom: 50px;
  padding: 40px;
  font-family: var(--roboto-font);
  font-size: 1.2rem;
  box-shadow: 0px 1px 5px 0px rgb(0, 0, 0);
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.slider-right {
  height: 100%;
  background: #120b18;
  margin-bottom: 50px;
  padding: 40px;
  font-family: var(--roboto-font);
  font-size: 1.2rem;
  box-shadow: 0px 1px 5px 0px rgb(0, 0, 0);
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

/* Most Used Units stats breakdown animations */
.statistics-slide-stats {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}

.statistics-slide-up-artifact {
  opacity: 0;
  animation: statistics-slide-up 0.5s 0.5s forwards;
  -webkit-animation: statistics-slide-up 0.5s 0.5s forwards;

}

.statistics-slide-up-hp {
  opacity: 0;
  animation: statistics-slide-up 0.5s 0.75s forwards;
  -webkit-animation: statistics-slide-up 0.5s 0.75s forwards;
}

.statistics-slide-up-speed {
  opacity: 0;
  animation: statistics-slide-up 0.5s 1s forwards;
  -webkit-animation: statistics-slide-up 0.5s 1s forwards;
}

.statistics-slide-up-gear {
  opacity: 0;
  animation: statistics-slide-up 0.5s 1.25s forwards;
  -webkit-animation: statistics-slide-up 0.5s 1.25s forwards;
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

@keyframes statistics-slide-up {
  0% {
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes statistics-slide-up {
  100% {
    -webkit-transform: translateY(0%);
  }
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

/* ========================
 * Mobile styles
 * ===================== */
@media only screen and (max-width: 900px) {
  .first-most-used,
  .third-most-used {
    text-align: left;
    display: grid;
    grid-template-columns: auto !important;
    grid-gap: 8px;
    font-size: 14px;
  }

  .second-most-used {
    text-align: right;
    display: grid;
    grid-template-columns: auto !important;
    grid-gap: 8px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 460px) {
  .character-stats-column {
    padding: 0;
    margin: 0;
    width: 85px;
  }

  .character-stats-column img {
    width: 75px;
    height: 75px;
  }

  .character-stats-row {
    cursor: pointer;
    padding-top: 10px;
  }
}
