.characters-used {
  width: 99%;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 30px;
  transition: 0.3s ease-out all;
  background: var(--purple-color);
  box-shadow: 5px 5px 5px #000;
}

.characters-used-add {
  float: right;
  color: #ca51e0;
  margin-top: 10px;
}

.characters-used-add svg {
  margin-right: 10px;
}

.characters-used-container {
  margin-top: 30px;
  border-top: 1px solid #38225a;
  padding-top: 30px;
}

.characters-used-divider {
  height: 1px;
  border: 0;
  background-color: #38225a;
}

/* ========================
 * Character used toggle
 * ===================== */
.characters-used-toggle {
  width: 100%;
  cursor: pointer;
}

.characters-used-toggle svg {
  margin-right: 10px;
}

/* ========================
 * Character used header
 * ===================== */
.characters-used-header {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 5px;
}

.characters-used-header svg {
  margin-right: 10px;
}

.characters-used-header .flex-1:nth-child(2) {
  text-align: right;
}

.characters-used-header .flex-1:nth-child(2) label {
  cursor: pointer;
}

/* ========================
 * Character used items
 * ===================== */
.characters-used-items {
  margin-bottom: 20px;
}

.characters-used-items .flex-1:not(:last-child) {
  margin-right: 10px;
}

/* ========================
 * Mobile styles
 * ===================== */
@media only screen and (max-width: 900px) {
  .characters-used {
    padding: 20px;
    width: 100% !important;
  }

  .characters-used-items {
    flex-direction: column;
  }

  .characters-used-items .flex-1 {
    margin-right: 0;
  }

  .characters-used-items .flex-1:not(:last-child) {
    margin-right: 0;
  }

  .characters-used-container {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1280px) {
  .characters-used {
    width: auto;
  }
}
