.characters-used {
  width: 99%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  transition: 0.3s ease-out all;
  background: var(--purple-color);
  box-shadow: 5px 5px 5px #000;
}

.characters-used-add {
  float: right;
  color: #ca51e0;
}

.characters-used-add svg {
  margin-right: 10px;
}

.characters-used-container {
  margin-top: 30px;
}

/* ========================
 * Character used toggle
 * ===================== */
.characters-used-toggle {
  width: 100%;
  cursor: pointer;
}

/* ========================
 * Character used header
 * ===================== */
.characters-used-header {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 5px;
}

.characters-used-header svg {
  margin-right: 10px;
  color: #ca3939;
  cursor: pointer;
}

.characters-used-header .flex-1:nth-child(2) {
  text-align: right;
}

.characters-used-header .flex-1:nth-child(2) input {
  margin-right: 5px;
}

/* ========================
 * Character used items
 * ===================== */
.characters-used-items {
  margin-bottom: 20px;
}

.characters-used-items .flex-1 {
  margin-right: 10px;
}

/* ========================
 * Mobile styles
 * ===================== */
@media only screen and (max-width: 900px) {
  .characters-used-items {
    flex-direction: column;
  }

  .characters-used-items .flex-1 {
    margin-right: 0;
  }
}
