.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
}

.card {
  width: 560px;
  height: 316px;
  border-radius: 3px;
  position: relative;
  overflow:hidden;
  margin:30px;
}

.card-container ul {
  list-style: none;
}
