/* ========================
 * Tower map
 * ===================== */
.tower-map {
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 20px !important;
}

.tower-info {
  text-align: left;
}

.tower-info hr {
  display: none;
}

.tower-map img {
  position: absolute;
  cursor: pointer;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 10%;
}

.tower-map img:hover {
  opacity: 0.8;
  transform: rotate(720deg) translate(0, 0);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.tower-container {
  position: relative;
  height: 380px;
}

/* ========================
 * Tower root
 * ===================== */
.tower-root img {
  width: 12%;
}

.tower-root .stronghold {
  top: 5%;
  left: 60%;
}

.tower-root .bronze-tower {
  top: 15%;
  left: 20%;
}

.tower-root .dalberg-tower {
  top: 50%;
  left: 35%;
}

.tower-root .silver-tower {
  top: 65%;
  left: 65%;
}

/* ========================
 * Tower children
 * ===================== */
.tower-children .root-tower {
  top: 35%;
  left: 50%;
}

.tower-children .tower-1 {
  top: 15%;
  left: 5%;
}

.tower-children .tower-2 {
  top: 60%;
  left: 10%;
}

.tower-children .tower-3 {
  top: 40%;
  left: 25%;
}

.tower-children .tower-4 {
  top: 5%;
  left: 35%;
}

.tower-children .tower-5 {
  top: 70%;
  left: 62%;
}

.tower-children .tower-6 {
  top: 5%;
  left: 65%;
}

.tower-children .tower-7 {
  top: 25%;
  left: 80%;
}

.tower-children .tower-8 {
  top: 55%;
  left: 88%;
}

/* ========================
 * Mobile
 * ===================== */
@media only screen and (max-width: 900px) {
  .tower-map {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .tower-info {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .tower-info hr {
    display: block;
  }

  .tower-map .flex-container {
    display: block;
  }

  .tower-map .flex-2,
  .tower-map .flex-4 {
    flex: none;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }

  .tower-container {
    height: 420px;
  }
}

@media only screen and (max-width: 530px) {
  .tower-container {
    height: 245px;
  }
}
