.tower-map {
  margin-bottom: 50px;
  position: relative;
  height: 350px !important;
}

.tower-info {
  text-align: left;
}

.tower-root div {
  position: absolute;
}

.tower-root img {
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.tower-root img:hover {
  opacity: 0.8;
  transform: rotate(720deg) translate(0, 0);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.tower-root .stronghold {
  top: 20px;
  left: 75%;
}

.tower-root .bronze-tower {
  top: 50px;
  left: 50%;
}

.tower-root .dalberg-tower {
  top: 220px;
  left: 58%;
}

.tower-root .silver-tower {
  top: 250px;
  left: 80%;
}

/* ========================
 * Mobile
 * ===================== */
@media only screen and (max-width: 700px) {
  .tower-root img {
    max-width: 70px;
    max-height: 70px;
  }

  .tower-root .stronghold {
    left: 60%;
  }

  .tower-root .bronze-tower {
    left: 15%;
  }

  .tower-root .dalberg-tower {
    top: 160px;
    left: 30%;
  }

  .tower-root .silver-tower {
    top: 175px;
    left: 68%;
  }
}
