/* ========================
 * Tower map
 * ===================== */
.tower-map {
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 20px !important;
}

.tower-container {
  position: relative;
  height: 380px;
}

.tower-container div {
  position: absolute;
  width: 10%;
  cursor: pointer;
}

.tower-map img {
  width: 70%;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.tower-map img:hover {
  opacity: 0.8;
  animation: glitch 1s linear infinite;
}

.tower-map .no-tower {
  opacity: 0.4;
}

.tower-map .no-tower:hover {
  opacity: 0.8;
}

/* ========================
 * Tower info
 * ===================== */
.tower-info {
  text-align: left;
}

.tower-info hr {
  display: none;
}

.tower-info-content {
  margin-bottom: 20px;
  margin-top: -10px;
}

.tower-info-title {
  font-weight: bold;
  margin-right: 10px;
}

.tower-actions {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tower-actions button {
  margin-bottom: 20px;
  display: block;
}

.tower-actions .right-underline-btn svg {
  margin-right: 10px;
}

.tower-map-name {
  font-size: 14px;
}

/* ========================
 * Tower root
 * ===================== */
.tower-root.tower-container div {
  width: 20%;
}

.tower-root.tower-container .tower-map-name {
  width: 100%;
  padding-top: 10px;
}

.tower-root .stronghold {
  top: 0%;
  left: 55%;
}

.tower-root .bronze-tower {
  top: 10%;
  left: 10%;
}

.tower-root .dalberg-tower {
  top: 45%;
  left: 30%;
}

.tower-root .silver-tower {
  top: 55%;
  left: 65%;
}

/* ========================
 * Tower children
 * ===================== */
 .tower-children.tower-container .tower-map-name {
  width: 100%;
  padding-top: 10px;
}

.tower-children .tower-0 {
  top: 15%;
  left: 0%;
}

.tower-children .tower-1 {
  top: 60%;
  left: 5%;
}

.tower-children .tower-2 {
  top: 40%;
  left: 20%;
}

.tower-children .tower-3 {
  top: 5%;
  left: 30%;
}

.tower-children .tower-4 {
  top: 35%;
  left: 45%;
}

.tower-children .tower-5 {
  top: 70%;
  left: 57%;
}

.tower-children .tower-6 {
  top: 5%;
  left: 60%;
}

.tower-children .tower-7 {
  top: 25%;
  left: 75%;
}

.tower-children .tower-8 {
  top: 60%;
  left: 85%;
}

/* ========================
 * Mobile
 * ===================== */
@media only screen and (max-width: 900px) {
  .tower-map {
    padding: 1px 0 0 0 !important;
  }

  .tower-info {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .tower-info hr {
    display: block;
  }

  .tower-map .flex-container {
    display: block;
  }

  .tower-map .flex-2,
  .tower-map .flex-4 {
    flex: none;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }

  .tower-container {
    height: 550px;
  }

  .tower-root.tower-container {
    height: 380px;
  }
}

@media only screen and (max-width: 530px) {
  .tower-container {
    height: 450px;
  }

  .tower-root.tower-container {
    height: 325px;
  }

  .tower-container div {
    width: 18%;
  }
}
