/* ========================
 * General styles
 * ===================== */
 .intel-connect {
  max-width: 900px;
  margin: 0 auto;
}

.intel-connect .container {
  overflow: hidden;
}

/* ========================
 * Intel connect title
 * ===================== */
.intel-connect-title {
  border-left: 2px solid #5821a9;
  font-size: 36px;
  font-family: Monaco;
  text-align: left;
  padding-left: 30px;
}

.intel-connect-title h1 {
  text-transform: uppercase;
  position: relative;
  top: -1px;
}

/* ========================
 * Intel connect container
 * ===================== */
.intel-connect-container-left img {
  width: 50px;
  position: relative;
  top: 15px;
}

.intel-connect-container-left {
  float: left;
}

.intel-connect-container-right {
  float: right;
  width: 90%;
  text-align: left;
}

.intel-connect-create {
  margin-top: 50px;
  float: right;
}

.intel-connect-join {
  float: right;
  margin-top: 50px;
}

.intel-connect-join .slide-btn {
  margin-top: 50px;
}

.intel-connect-join>span {
  position: relative;
  top: 20px;
}

/* ========================
 * Inputs
 * ===================== */
.intel-id-input {
  font-size: 24px !important;
  display: inline;
  margin-right: 20px;
  padding: 64px;
  padding: 21px !important;
  position: relative;
  top: 4px;
  max-width: 100%;
}

/* ========================
 * Buttons
 * ===================== */
.intel-connect .slide-btn-horizontal {
  font-family: Monaco;
  font-size: 26px;
  padding-left: 30px;
  padding-right: 30px;
}

.intel-connect-join .slide-btn-horizontal {
  display: inline;
}

/* ========================
 * Mobile styles
 * ===================== */
@media only screen and (max-width: 1200px) {
  .intel-id-input {
    font-size: 14px !important;
    top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .intel-connect .slide-btn-horizontal {
    font-size: 18px;
    width: 100%;
  }

  .intel-connect-container-left {
    display: none;
  }

  .intel-connect-create,
  .intel-connect-join {
    float: none;
  }

  .intel-connect-create {
    text-align: -moz-right;
  }

  .intel-connect-container-right {
    float: none;
    width: 100%;
  }
}


.plus-button {
  width: 50px;
  height: 50px;
}

.plus-button:disabled,plus-button[disabled] {
  pointer-events: none;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
}
