/* ========================
 * General styles
 * ===================== */
.intel-connect {
  margin: 0 auto;
}

.intel-connect .container {
  overflow: hidden;
}

/* ========================
 * Intel connect title
 * ===================== */
.intel-connect-title {
  border-left: 2px solid #5821a9;
  font-size: 36px;
  font-family: Monaco;
  text-align: left;
  padding-left: 30px;
}

.intel-connect-title h1 {
  text-transform: uppercase;
  position: relative;
  top: -1px;
  margin-top: 0;
}

/* ========================
 * Intel connect container
 * ===================== */
.intel-connect-container-left img {
  width: 50px;
  position: relative;
  top: 15px;
}

.intel-connect-container-left {
  float: left;
}

.intel-connect-container-right {
  float: right;
  width: 90%;
  text-align: left;
}

.intel-connect-create {
  margin-top: 50px;
  float: right;
}

.intel-connect-join {
  float: right;
  margin-top: 50px;
}

.intel-connect-join .slide-btn {
  margin-top: 50px;
}

.intel-connect-join>span {
  position: relative;
  top: 20px;
}

/* ========================
 * Intel join container
 * ===================== */
.intel-join-container {
  display: flex;
  padding-right: 0;
}

.intel-join-action {
  flex: 3;
  padding-right: 50px;
}

.intel-join-recents {
  flex: 1;
  border-left: 1px solid #1e1e1e;
}

.intel-join-recents a {
  font-family: Monaco;
  font-size: 28px;
}

.intel-connect-recents-list {
  list-style-type: none;
  padding: 0;
}

@media only screen and (max-width: 1305px) {
  .intel-join-container {
    flex-direction: column;
  }

  .intel-join-action {
    padding-right: 40px;
  }

  .intel-join-recents {
    border-left: 0;
    margin-right: 40px;
    padding-top: 20px;
    border-top: 1px solid #1e1e1e;
    margin-top: 40px;
  }

  .intel-connect-recents-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 150px;
    margin-bottom: 0;
  }

  .intel-connect-recents-list li {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .intel-connect-recents-list {
    flex-wrap: nowrap;
    max-height: 100%;
  }

  .intel-connect-recents-list li {
    margin-bottom: 0;
  }
}

/* ========================
 * Inputs
 * ===================== */
.intel-id-input {
  font-size: 24px !important;
  display: inline;
  margin-right: 20px;
  padding: 64px;
  padding: 14px !important;
  position: relative;
  top: 4px;
  max-width: 100%;
}

/* ========================
 * Buttons
 * ===================== */
.intel-connect-join .slide-btn-horizontal {
  display: inline;
}

/* ========================
 * Mobile styles
 * ===================== */
@media only screen and (max-width: 1200px) {
  .intel-id-input {
    font-size: 14px !important;
    top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .intel-connect .slide-btn-horizontal {
    font-size: 18px;
    width: 100%;
  }

  .intel-connect-container-left {
    display: none;
  }

  .intel-connect-create,
  .intel-connect-join {
    float: none;
  }

  .intel-connect-create {
    text-align: -moz-right;
  }

  .intel-connect-container-right {
    float: none;
    width: 100%;
  }
}
