.tower-list {
  position: relative;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* ========================
 * Mobile styles
 * ===================== */
@media only screen and (max-width: 900px) {
  .tower-list {
    margin-top: -65px;
  }
}
