/* ========================
 * Footer general
 * ===================== */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #100d12;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  padding-top: 20px;
  padding-bottom: 5px;
  z-index: 21;
}

.footer-content {
  display: flex;
}

.footer-left {
  flex: 1;
  padding-left: 50px;
  font-size: 12px;
}

.footer-middle {
  flex: 6;
  font-size: small;
  font-weight: normal;
}

.footer-middle p {
  margin: 3px;
}

.footer-right {
  flex: 1;
  padding-right: 50px;
  padding-top: 5px;
}

.footer-right a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer-subtext {
  font-size: 14px;
  position: relative;
  top: -3px;
  color: #fff;
}

.footer-name-first {
  color: #a992fa;
  margin-right: 5px;
  cursor: default;
}

.footer-name-second {
  color: #03dddc;
  cursor: default;
}

.footer-name-first:hover,
.footer-name-second:hover {
  color: #fdf200;
}

/* ========================
 * Mobile styles
 * ===================== */
@media only screen and (max-width: 1280px) {
  footer {
    position: absolute;
    padding-top: 5px
  }

  .footer-content {
    display: block;
  }

  .footer-left,
  .footer-middle,
  .footer-right {
    flex: none;
  }

  .footer-middle {
    padding: 10px;
  }

  .footer-middle p {
    margin: 10px;
    font-size: 14px
  }

  .footer-bottom {
    display: flex;
    font-size: 12px;
  }

  .footer-bottom .flex-1:nth-child(2) {
    margin-top: 18px;
  }
}

@media only screen and (max-width: 900px) {
  .footer-middle {
    text-align: left;
  }

  .footer-bottom .flex-1:nth-child(2) {
    margin-top: 23px;
  }
}

/* ========================
 * RAVI TRIGGERED
 * ===================== */
.ravi-slide-up {
  margin-right: 10px;
  animation: ravi-slide-up 2s forwards;
  -webkit-animation: ravi-slide-up 2s forwards;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}

@keyframes ravi-slide-up {
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes ravi-slide-up {
  100% {
    -webkit-transform: translateY(0%);
  }
}
