/* ========================
 * General styles
 * ===================== */
.tower-header {
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
  display: flex;
  font-size: 24px;
  font-family: var(--audiowide-font);
  padding: 10px;
}

.tower-name {
  color: #fff;
  flex: 1;
  text-align: left;
  font-weight: 800;
  cursor: text;
}

.tower-name input {
  border: 0 !important;
  font-size: 24px !important;
  font-family: var(--audiowide-font) !important;
  text-align: left !important;
  background: transparent !important;
  padding: 0 !important;
  max-width: 200px;
}

.tower-name svg {
  position: relative;
  top: -3px;
  margin-right: 5px;
  width: 18px;
  height: 18px;
  color: var(--teal-color);
}

.tower-location {
  flex: 1;
  text-align: right;
  font-weight: 800;
}

.tower-team-title {
  font-family: var(--audiowide-font);
  font-size: 24px;
  color: #a992fa;
  text-align: left;
  padding-left: 20px;
  line-height: 0;
}

.tower-characters {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

/* ========================
 * Mobile styles
 * ===================== */
@media only screen and (max-width: 1280px) {
  .tower-characters {
    flex-direction: column;
    padding-right: 40px;
  }

  .tower-info {
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  .tower-header {
    display: grid;
  }

  .tower-name,
  .tower-location {
    text-align: center;
    padding-top: 10px;
  }

  .tower-location {
    margin-bottom: 10px;
  }

  .tower-name input {
    text-align: center !important;
    border-bottom: 1px solid var(--teal-color) !important;
  }

  .tower-name svg {
    display: none;
  }

  .tower-data.container {
    padding: 0;
  }

  .tower-characters {
    flex-direction: unset;
    padding-left: 0;
    padding-right: 0;
  }
}
