.navbar{
    justify-content: center;
    display: flex;
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 7rem;
    background-color: #20232A;
    color: #fff;
    border-bottom: #FDF200 1px solid;
  }
  a{
    text-decoration: none;
    color: #20232A;
  }
  ul{
    padding: 0;
    list-style: none;
  }
  .nav-logo{
    text-align: center;
    width: fit-content;
    margin: auto;
    font-size: 1.7rem;
    font-weight: 800;
  }
  .logo-first{
    color: #A992FA;
  }
  .logo-last{
   color: #03dddc;
  }
  .logo-first:hover, .logo-last:hover{
   color: #FDF200;
  }
  .site-links{
    display: flex;
    margin: 0 100px;
    width: 40%;
  }
  .site-links li{
    justify-content: center;
    width: 150px;
    margin: 7px;
    border-radius: 5px;
    text-align: center;
    font-weight: 550;
  }
  .site-links li a{
    font-size: 1.4rem;
    line-height: 6rem;
    padding: 10px;
    color: white;
  }
  .site-links li a.project-link:hover{
    color: #FF85EA;
  }
  .site-links li a.project-link.active{
    color: #FF85EA;
    border-bottom: 5px solid #FF85EA;
  }
  .site-links li a.docs-link:hover{
    color: #7B61F8;
  }
  .site-links li a.docs-link.active{
    color: #7B61F8;
    border-bottom: 5px solid #7B61F8;
  }
  .site-links li a.blogs-link:hover{
    color: #61DAFB;
  }
  .site-links li a.blogs-link.active{
    color: #61DAFB;
    border-bottom: 5px solid #61DAFB;
  }
  .site-links li a.about-link:hover{
    color: #FDF200;
  }
  .site-links li a.about-link.active{
    color: #FDF200;
    border-bottom: 5px solid #FDF200;
  }
  .social-links{
    display: flex;
    padding-top: 20px;
    width: 15%;
    margin: 0 auto;
  }
  .social-link{
    padding: 2px;
    margin: 5px;
    background-color: #00FECA;
    border: 2px #20232A solid;
    border-radius: 5px;
  }
  .social-link:hover{
    color:  #00feca;
    background-color: #20232A;
  }