/* ========================
 * App general
 * ===================== */
main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px 50px 100px 400px;
}

@media only screen and (max-width: 1200px) {
  main {
    padding: 150px 50px 100px 50px;
  }
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

/* ========================
 * Page transition
 * ===================== */
.page {
  position: absolute;
}

.page-enter {
  opacity: 0;
  transform: scale(0.8);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
