/* ========================
 * App general
 * ===================== */
.App {
  text-align: center;
  width: 100%;
  min-height: 100%;
  position: relative;
}

main {
  margin: 0 auto;
  max-width: 1280px;
  padding: 50px 50px 100px 400px;
}

@media only screen and (max-width: 1280px) {
  main {
    padding: 150px 50px 180px 50px;
  }
}

@media only screen and (max-width: 900px) {
  main {
    padding: 100px 0 220px 0;
  }
}

/* ========================
 * Page transition
 * ===================== */
.page {
  position: absolute;
}

.page-enter {
  opacity: 0;
  transform: scale(0.8);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
