.about-container {
  display: flex;
}

.about-container .about-content {
  padding-left: 30px;
  text-align: left;
}

.about-container .about-paypal {
  margin-top: 100px;
}

/* ========================
 * Mobile styles
 * ===================== */
@media only screen and (max-width: 900px) {
  .about-container {
    display: block;
  }

  .about-container img {
    width: 300px;
  }

  .about-container .about-content {
    padding-left: 0;
  }
}
