/* ========================
 * Dialog styles
 * ===================== */
 .delete-dialog {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.delete-modal {
  border: 1px solid var(--purple-color);
  position: fixed;
  box-shadow: 5px 5px 5px #000;
  background-color: var(--dark-purple-color);
  font-family: var(--roboto-font);
  font-size: 1.2rem;
  text-align: left;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* ========================
 * Content styles
 * ===================== */
 .delete-content {
  padding: 30px 50px 30px 50px;
  width: 400px;
  height: 500px;
}

.delete-content h1 {
  font-family: var(--audiowide-font);
}

/* ========================
 * Data styles
 * ===================== */
.delete-actions {
  float: right;
}

.delete-actions button {
  display: inline;
  margin-top: 40px;
}

.delete-actions button:not(:last-child) {
  margin-right: 30px;
}

/* ========================
 * Mobile styles
 * ===================== */
 @media only screen and (max-width: 900px) {
  .delete-modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    transform: none;
  }

  .delete-content {
    width: auto;
    height: auto;
    padding: 30px 25px 30px 25px;
  }
}
