/* ========================
 * Navbar general
 * ===================== */
.navbar {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: rgb(28, 16, 36);
  overflow: hidden;
  padding-top: 20px;
  box-shadow: 1px 0 8px rgb(33, 19, 44);
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar-menu {
  display: none;
  float: right;
  width: 30px;
  height: 24px;
  margin-right: 50px;
  margin-top: 30px;
  cursor: pointer;
  background: url("../../assets/icons/menu.png");
  background-size: cover;
}

.navbar-menu:hover {
  background: url("../../assets/icons/menu_hover.png");
  background-size: cover;
}

/* ========================
 * Logo and title
 * ===================== */
.navbar {
  padding-top: 0;
}

.navbar-logo {
  margin-bottom: 80px;
  margin-top: 20px;
}

.navbar-logo img {
  height: 200px;
}

.navbar-logo-text {
  text-decoration: none;
  color: #20232a;
  font-size: 1.7rem;
  font-weight: 800;
  display: block;
  margin-top: 20px;
}

.navbar-title-first {
  color: #ff84e9;
  margin-right: 10px;
}

.navbar-title-second {
  color: #03dddc;
}

.navbar-title-first:hover,
.navbar-title-second:hover {
  color: #fdf200;
}

/* ========================
 * Navigation links
 * ===================== */
.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--audiowide-font);
  font-size: 24px;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.navbar-links li {
  margin: 10px;
  padding: 10px;
  margin-bottom: 0px;
  position: relative;
  right: 10px;
  cursor: pointer;
}

.navbar-links li:hover {
  background: #21132c;
}

.navbar-links li:hover a {
  color: var(--pink-color);
}

.navbar-link-active {
  background: #21132c;
  color: var(--pink-color);
}

/* ========================
 * Mobile
 * ===================== */
@media only screen and (max-width: 500px) {
  .navbar-logo-text {
    display: none;
  }
}

@media only screen and (max-width: 1280px) {
  .navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 5px 5px rgb(0 0 0);
  }

  .navbar.hamburger-closed {
    height: auto;
  }

  .navbar.hamburger-open {
    height: 265px;
  }

  .navbar-logo {
    margin: 0;
  }

  .navbar-logo img {
    height: 65px;
    float: left;
    margin-left: 50px;
    position: relative;
    top: 10px;
  }

  .navbar-logo-text {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
  }

  .navbar-title-first {
    display: inline;
  }

  .navbar-title-second {
    display: inline;
  }

  .navbar-menu {
    display: block;
  }

  .navbar-links {
    padding-top: 30px;
  }

  .navbar-links li {
    margin: 0;
    margin-bottom: 10px;
  }
}
