/* ========================
 * Slide effect button
 * ===================== */
.slide-btn-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  border: 1px solid #5821a9;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 900;
  text-transform: uppercase;
  outline: none;
  background-color: transparent;
}

.slide-btn-horizontal>.slide-btn-text {
  position: relative;
  color: #fff;
  background-repeat: repeat;
  background-size: 200%;
  background-position: 100% 0;
  -webkit-background-clip: text;
  background-clip: text;
  transition: background-position 300ms;
}

.slide-btn-horizontal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5821a9;
  transform-origin: 100% 0;
  transform: scale3d(0, 1, 1);
  transition: transform 300ms;
}

.slide-btn-horizontal:hover .slide-btn-text {
  background-position: 0 0;
}

.slide-btn-horizontal:hover::before {
  transform-origin: 0 0;
  transform: scale3d(1, 1, 1);
}

/* =============================
 * Right underline effect button
 * =========================== */
.right-underline-btn {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: #a1a1a1;
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 0;
  outline: none;
}

.right-underline-btn:hover {
  color: #d73444;
}

.right-underline-btn:after {
  content: "";
  transition: 0.2s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.right-underline-btn:after {
  bottom: -0.25em;
  height: 2px;
  width: 0;
  background: #d73444;
  right: 0;
}

.right-underline-btn:hover:after {
  width: 100%;
}

/* =============================
 * Center underline effect button
 * =========================== */
.center-underline-btn {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: #a1a1a1;
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 0;
  outline: none;
}

.center-underline-btn:hover {
  color: #d73444;
}

.center-underline-btn:after {
  content: "";
  transition: 0.2s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.center-underline-btn:after {
  bottom: -0.25em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background: #d73444;
  right: 0;
}

.center-underline-btn:hover:after {
  width: 100%;
}

/* =============================
 * Underline effect button
 * =========================== */
.underline-btn {
  outline: none;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  transition: all 0.25s linear;
  color: #fff;
  cursor: pointer;
  padding: 0 2px 5px 2px;
  position: relative;
  top: -3px;
}

.underline-btn:hover {
  color: var(--teal-color);
}

.underline-btn:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--teal-color);
  position: absolute;
  left: 0;
  bottom: -1px;
  transform-origin: center;
  transform: scale(0);
  transition: 0.25s linear;
}

.underline-btn:hover:before {
  transform: scale(1);
}

/* =============================
 * Input box styles
 * =========================== */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type='text'],
input[type='number'] {
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  color: #fff;
  background-color: #22152c;
  border: none;
  border-radius: 0;
  outline: 0;
  cursor: text;
  box-sizing: border-box;
  border: 1px solid #2e1c44;
}

input[type=checkbox] {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  padding: 10px;
  margin-right: 8px;
  position: relative;
  top: -1px;
  cursor: pointer;
}

.input-label {
  font-family: var(--audiowide-font);
  font-size: 32px;
  font-weight: 800;
  display: block;
}

/* ========================
 * Dropdown styles
 * ===================== */
.select-dropdown {
  text-align: left;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

.select-dropdown [class*="-control"] {
  background: var(--dark-purple-color);
  border-color: rgb(28, 16, 36);
}

.select-dropdown [class*="-placeholder"] {
  color: rgb(158, 158, 158);
}

.select-dropdown [class*="-singleValue"] {
  color: #fff;
}
