:root {
  /* Breakpoints */
  --tablet-breakpoint: 1280px;
  --phone-breakpoint: 900px;

  /* Colors */
  --body-color: #1a0d22;
  --pink-color: #ff85ea;
  --purple-color: #1c1024;
  --purple-color-2: #a992fa;
  --dark-purple-color: #120b18;
  --teal-color: #03dddc;

  /* Fonts */
  --roboto-font: 'Roboto', sans-serif;
  --audiowide-font: 'Audiowide';
}
