/* ========================
 * Character container
 * ===================== */
.character-data-container {
  transition: 0.3s ease-out all;
  width: 100%;
  text-align: left;
  padding: 20px 15px 15px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
}

.character-data-container:hover {
  background: var(--purple-color);
  box-shadow: 5px 5px 5px #000;
}

.character-edit {
  cursor: default !important;
  background: var(--purple-color);
  box-shadow: 5px 5px 5px #000;
}

/* ========================
 * Character selection
 * ===================== */
.character-selection-container {
  flex: 1;
  text-align: center;
  position: relative;
}

.character-selection-container img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

/* ========================
 * Character stats labels
 * ===================== */
.character-stats-labels {
  flex: 4;
  position: relative;
  top: 5px;
  margin-right: 20px;
}

.character-stats-labels img {
  width: 30px;
  vertical-align: middle;
  margin-right: 5px;
}

.character-stats-left {
  float: left;
}

.character-stats-right {
  float: right;
}

.character-stat {
  margin-right: 20px;
}

.character-stats-notes {
  clear: both;
  padding-top: 20px;
  word-wrap: anywhere;
}

/* ========================
 * Character inputs
 * ===================== */
.character-inputs {
  margin-bottom: 10px;
  margin-right: 20px;
}

.character-dropdowns .select-dropdown {
  text-align: left;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

.select-dropdown [class*="-control"] {
  background: #120b18;
  border-color: rgb(28, 16, 36);
}

.select-dropdown [class*="-placeholder"] {
  color: rgb(158, 158, 158);
}

.select-dropdown [class*="-singleValue"] {
  color: #fff;
}

.character-dropdowns .flex-1:not(:first-child) {
  margin-left: 20px;
}

.character-debuffs {
  text-align: left;
  margin-bottom: 20px;
}

.character-debuffs label {
  margin-right: 20px;
}

.character-stats-inputs div:not(:last-child) {
  margin-right: 20px;
}

.character-stats-inputs div input {
  width: 100%;
}

.character-notes-container textarea {
  display: block;
  resize: vertical;
  width: 100%;
  background-color: #22152c;
  border: 1px solid #2e1c44;
  color: #fff;
  padding: 10px;
  margin-top: 15px;
  box-sizing: border-box;
}

/* ========================
 * Mobile styles
 * ===================== */
@media only screen and (max-width: 900px) {
  .character-data-container {
    flex-wrap: wrap;
  }

  .character-selection-container {
    flex: none;
    margin-right: 20px;
  }

  .character-stats-labels {
    margin-right: 0;
  }

  .character-stat {
    margin-right: 0;
    display: block;
  }

  .character-stats-notes {
    display: none;
  }

  .character-stats-right img {
    display: block;
    margin-bottom: 5px;
  }

  .character-options {
    flex: none;
    display: none;
  }

  .character-inputs {
    padding-right: 0;
    width: 100%;
    padding-right: 25px;
    margin-top: 20px;
  }

  .character-inputs input[type="number"] {
    margin-bottom: 10px;
    width: 100%;
  }

  .character-notes-container textarea {
    margin-top: 5px;
  }
}
